{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="" method="POST" class="border mt-4 p-3 mb-3">
        <legend class="border-bottom">Set New Password</legend>
        {{ form.hidden_tag() }}
        <fieldset>
           
            <div class="form-group">
                {{ form.password.label(class="form-label")}}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid ")}}
                <div class="is-invalid">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.confirmpasssword.label(class="form-label")}}
                {% if form.pasconfirmpassswordsword.errors %}
                {{ form.confirmpasssword(class="form-control form-control-lg is-invalid ")}}
                <div class="is-invalid">
                    {% for error in form.confirmpasssword.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirmpasssword(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>


        </fieldset>
    </form>
</div>


{% endblock content%}